* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f5f176;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  letter-spacing: 5px;
}

/* Barra de navegacion */
.navbar {
  display: inline-block;
  width: 30%;
  margin-left: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar ul {
  float: right;
}

.navbar ul li {
  list-style: none;
  float: right;
  width: 130px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
}

.navbar ul li:hover {
  background: #eae42d;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.params {
  width: 50%;
  margin: 40px auto;
  margin-top: 70px;
}

.params .caja-form {
  width: 60%;
  margin: 20px auto;
  font-size: 20px;
}

.params .caja-form label {
  width: 50%;
}

.params .caja-form select {
  width: 50%;
  margin: 0 auto;
}

.params .caja-form input {
  width: 50%;
  margin: 0 auto;
}

/* Cronometro content */
.cronometro {
  width:200px;
  height:100px;
  margin: 0 auto;
  text-align:center;
}

.boton {
  display:inline-block;
  width:100px;
  height:32px;
  position:relative;
}

#ms {
  height:68px;
  padding:5px 0;
  font-size:50px;
  color:#000;
}

/* Formularios */
.form-group {
  width: 40%;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 10px;
}

.form-control {
  width: 95%;
  height: 40px;
  margin-top: 5px;
}

.btn {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-top: 5px;
}

.btn-primary {
  background: #f1eb32;
  border: none;
}

.btn-primary:hover {
  background: #faf31c;
  cursor: pointer;
}

.btn-primary:focus {
  border: 1px solid #FFF;
}

/* Mensajes */
.message {
  width: 30%;
  height: 30px;
  margin: 0 auto;
  padding-top: 10px;
  color: #000;
  text-align: center;
}

.message-danger {
  background: #fc5a55;
}

.message-success {
  background: #92e579;
}

.text-danger {
  text-align: center;
  color: #ea3731;
}

.text-success {
  text-align: center;
  color: #60c741;
}
