<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} - Temporizador</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
  <div class="navbar">
    <ul>
      <li>
        <a href="{{ url_for('page.login') }}">Login</a>
      </li>
      <li>
        <a href="">Sign up</a>
      </li>
      <li>
        <a href="{{ url_for('page.index') }}">Home</a>
      </li>
    </ul>
  </div>

  {% block content %}
  {% endblock %}
</body>
</html>
