<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} - Temporizador</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
  <div class="navbar">
    <ul>
      {% if not current_user.is_authenticated %}
      <li>
        <a href="{{ url_for('page.login') }}">Login</a>
      </li>
      <li>
        <a href="{{ url_for('page.signup') }}">Sign up</a>
      </li>
      {% else %}
      <li>
        <a href="{{ url_for('page.logout') }}">Logout</a>
      </li>
      <li>
        <a href="#">Historial</a>
      </li>
      {% endif %}
      <li>
        <a href="{{ url_for('page.index') }}">Home</a>
      </li>
    </ul>
  </div>


  <ul>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        <li>
          <div class="message">
            <p class="text-{{ category }}">{{ message }}</p>
          </div>
        </li>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </ul>

  {% block content %}
  {% endblock %}
</body>
</html>
