{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

  <h1>Temporizador</h1>

  <div class="params">
    <div class="caja-form">
      <label for="">Tiempo total:</label>
      <select name="" id="tiempo">
        <option value="10" onclick="set_tiempo_inicial()">10 minutos</option>
        <option value="20" onclick="set_tiempo_inicial()">20 minutos</option>
        <option value="30" onclick="set_tiempo_inicial()">30 minutos</option>
        <option value="40" onclick="set_tiempo_inicial()">40 minutos</option>
      </select>
    </div>

    <div class="caja-form">
      <label for="">Tiempo de actividad:</label>
      <input type="number" id="t_actividad" value="40" min="20" max="60" onclick="calcular_tiempo_descanso()">
    </div>

    <div class="caja-form">
      <label for="">Tiempo de descanso:</label>
      <input type="number" id="t_descanso" disabled>
    </div>
  </div>

  <div class="cronometro">
    <div id="ms"></div>
    <div class="boton start"><button>Empezar</button></div>
    <div class="boton stop"><button>Parar</button></div>
    <div class="boton reiniciar"><button>Reiniciar</button></div>
  </div>

  <audio id="alarma" hidden>
    <source type="audio/mp3" src="{{ url_for('static', filename='sound/alarma.mp3') }}"></source>
  </audio>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
